@font-face {
  font-family: "Open Sans";
  src: url("../static/fonts/OpenSans-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../static/fonts/OpenSans-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../static/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("../static/fonts/Play-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("../static/fonts/Play-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}