@import '../../styles/media-queries.css';

.root {}

.title {
  composes: responsiveTitle1 from '../typography.module.css';
  max-width: 40rem;
}

.header {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.mainContent {
  margin-top: 2em;

  display: grid;
  grid-template-columns: 1fr;

  @media (--media-min-medium) {
    grid-template-columns: 2fr 1fr;
  }

}

.sourceName {
  font-size: 0.875rem;
  font-style: italic;
  color: var(--color-gray);
}

.storyLink {
  font-size: 1.25rem;
  font-weight: 600;

  & svg {
    margin-left: 0.5rem;
  }
}

.publishedAt {
  composes: small from '../typography.module.css';
  color: var(--color-gray);
  margin: 1.5rem 0 1.5rem;
}
