@import '../styles/custom-media.css';

.contact {
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
  align-items: center;
  margin-bottom: 0.5em;

  & a {
    width: max-content;
  }

  & svg {
    margin-right: 1em;
  }

  @media (--media-max-small) {
    grid-template-columns: 1fr auto;
  }
}

.platformIcon {
  width: 1em;
}
