@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (--media-min-small) {
    padding: 2em;
  }
}
