.root {
  margin-bottom: 2rem;
}

.title {
  margin: 0;

  & svg {
    margin-right: 0.5em;
  }
}

.card {
  width: 20rem;
  margin-top: 1.5em;
}

.item {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5em;
  font-size: 1.25em;
  width: 10% !important;
}